@import "~bootstrap/scss/bootstrap";

.body {
  background-color: aqua;
  width: 100vw;
  height: 100vh;
}

.auth {
  width: 97vw;
  display: flex;
  justify-content: flex-end;
}

.hidden {
  display: flex;
  flex-wrap: wrap;
  color: transparent;
  margin-left: 17vw;
}

.tinput {
  width: 60vw;
}

.dinput {
  width: 90vw;
  height: 70vh;
}

#My-Form-post {
  margin-left: 5vw;
  margin-right: 5vw;
}

.pbutton {
  margin-top: 1vh;
}

#search {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.searchi {
  width: 10vw;
}

.searchb {
  margin-left: 1vw;
  margin-right: 1vw;
}


.logo {
  margin-left: 1vw;
}